  <h1 mat-dialog-title fxLayoutAlign="center center">Classificação da Live</h1>
  <div mat-dialog-content fxLayoutAlign="center center">
    <div class="row">
      <p>
        <mat-chip class="mat-chip-live" fxLayoutAlign="center center">
          <span>Live</span>
        </mat-chip>
      </p>
      <p>
        <mat-chip class="mat-chip-date"  fxLayoutAlign="center center">
          <span>Data</span>
        </mat-chip>
      </p>
      <p>
      <mat-chip class="mat-chip-canal"  fxLayoutAlign="center center">
        <span>Canal</span>
      </mat-chip>
      </p>
      <p>
      <mat-chip class="mat-chip-categoria" fxFlex="100" fxLayoutAlign="center center">
        <span>Categoria</span>
      </mat-chip>
      </p>
    </div>
</div>
<div mat-dialog-actions  fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="sair()">Ok</button>
</div>
